<h1><%= @job.title %></h1>
<dl class="dl-horizontal">
  <dt>Empresa</dt>
  <dd>
    <%= @job.company.name %>
  </dd>
  <dt> Categoria </dt>
  <dd>
    <%= @job.category.name %>
  </dd>
  <dt>Descrição</dt>
  <dd>
    <%= @job.description %>
  </dd>
  <dt>Local</dt>
  <dd>
    <%= @job.location %>
  </dd>
  <% if @job.featured? %>
    <div><strong> Destaque </strong></div>
  <% end %>
</dl>
  <%= link_to 'Voltar', root_path %>
