<section>
  <h1><%= @company.name %> </h1>
  <% if @company.premium? %>
    <!--span class="glyphicon glyphicon-star text-warning" aria-hidden="true"/-->
    <%= image_tag 'estrela' %>
  <% end %>
  <%= @company.location %>
  <%= @company.mail %>
  <%= @company.phone %>
</section>

<%= render @jobs %>
