<!DOCTYPE html>
<html>
  <head>
    <title>Empregoja</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="panel panel-default">
          <div class="panel-body">
            <h1> <%=link_to "Emprego Já", root_path %> </h1>
          </div>
        </div>
      </header>
      <%= flash[:error]%>

      <%= yield %>
    </div>
  </body>
</html>
